*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fonte;
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: fonte;
}

.container  {
    width: 40%;
    box-shadow: 0px 0px 5px #909090;
    padding: 20px;
    border-radius: 15px;
    /* background-color: rgb(244, 245, 245); */
}

.head {
    display: flex;
    position: relative;
    margin: 25px 0px;
}

.head h1 {
    font-size: 15px;
}

.head h1>span {
    background-color: midnightblue;
    padding: 1.5px 7px;
    color: white;
    border-radius: 5px;
}
#mark {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
}

img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.notified {
    display: flex;
    margin: 10px 0px;
    /* background-color: rgb(239, 244, 245); */
    padding: 10px;
    border-radius: 10px;
    color: #7c7777;
    cursor: pointer;
}

p {
    font-size: 12px;
}

span, h5 {
    font-weight: bolder;
}

.name:hover, .chess:hover, .content:hover, .chess, #mark:hover {
    color: midnightblue;
    cursor: pointer;
}

#mark:hover {
    font-weight: bolder;
}

.content {
    color: #696969;
}

.kim {
    display: flex;
}

.img-2 {
    /* position: absolute; */
    margin-left: 20%;
}

#message {
    padding: 15px 10px;
    border: 1px solid #b4aeae;
    margin-top: 10px ;
    border-radius: 5px;
    cursor: auto;
}

.unread, #message:hover {
    background-color: rgb(228, 242, 246);
}

.name {
    color: black;
}

@media only screen and (max-width:375px) {
    body {
        display: block;
    }

    .container {
        width: 100%;
    }
}